.App {
    text-align: center;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.order {
    border: 1px solid #000;
    width: 350px;
    height: 600px;
}

.items {
    border: 1px solid #000;
    width: 700px;
    height: 600px;
}
